:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
}

body {
  color: #fff;
}

.board {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  /* border: 1px solid #fff; */
}

.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.25rem;
  background-color: rgb(107, 38, 156);

  background-image: url("/images/dogs/corgi.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
