:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
}

body {
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

.board {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;

  max-width: 1000px;
}

.card {
  position: relative;
}
/* cards picture */
.card__front {
  position: absolute;
  border-radius: 0.25rem;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}
.flipped .card__front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* card cover */
.card__back {
  border-radius: 0.25rem;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s
}
.flipped .card__back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}




/* sandbox */

.test-card {
  max-width: 12rem;
  position: relative;
}

/* front of card - the picture */
.test-card__front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}
.flipped .test-card__front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of card */
.test-card__back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s
}
.flipped .test-card__back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
